<footer class="footer">
    <p>{{site.username}}</p>
    <!-- Email -->
    <div class="footer-list">
      <div class="footer-links">
        <i class="icon fa fa-envelope footer-icon" aria-hidden="true"></i>
        <p>{{site.email}}</p>
      </div>
      <!-- Github -->
      <div class="footer-links">
        <a class ="footer-links" target="_blank" href="{{site.github_link}}">
          <i class="icon fa fa-github-alt footer-icon" aria-hidden="true"></i>
          <p>Github: {{site.github_username}}</p>
        </a>
      </div>
      <!-- Itch -->
      <div class="footer-links">
        <a class ="footer-links" target="_blank" href="{{site.itch_link}}">
          <i class="icon fa fa-gamepad footer-icon" aria-hidden="true"></i>
          <p>Itch: {{site.itch_username}}</pp>
        </a>
      </div>
    </div>
</footer>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
