<!-- ====== Professional Projects ====== -->

{% if site.projects_professional.size > 0 %}
  <!-- If exists professional projects, add the tittle -->
  <div class="user-details">
    <h1> {{site.data[page.lang].projects_professional_title}} </h1>
  </div>
{% endif %}

{% for projects_professional in site.projects_professional %}
  <!-- Alternate from left to right div class -->
  {% assign remainder_prof = forloop.index0 | modulo: 2 %}
  {%- if remainder_prof == 0 -%}
    <div class="user-projects project-left">
  {%- else -%}
    <div class="user-projects project-right">
  {%- endif -%}

    <img alt="{{projects_professional.image_alt}}" src="{{ "{{projects_professional.image}}" | prepend: site.baseurl }}" />
    <div class="contents">
      {% if    page.lang == 'en' %}
        <h3> {{ projects_professional.title_en }} </h3>
        <p> {{ projects_professional.description_en }} </p>
      {% elsif page.lang == 'pt' %}
        <h3> {{ projects_professional.title_pt }} </h3>
        <p> {{ projects_professional.description_pt }} </p>
      {% endif %}
      <div class="contents-info">
        <ul>
          <li> {{site.data[page.lang].projects_made_in}}: {{ projects_professional.made }} </li>
          <li> {{site.data[page.lang].projects_time_frame}}:
            {% if    page.lang == 'en' %}
              {{ projects_professional.time_en }}
            {% elsif page.lang == 'pt' %}
              {{ projects_professional.time_pt }}
            {% endif %} </li>
        </ul>
        <ul>
          <li> {{site.data[page.lang].projects_year}}: {{ projects_professional.year }} </li>
          <li> {{site.data[page.lang].projects_team_size}}: {{ projects_professional.team }} </li>
        </ul>
        <a class="project-link" href="{{ site.url }}{{ projects_professional.permalink }}">{{site.data[page.lang].btn_details}}</a>
      </div>
    </div>
  </div>

{% endfor %}


<!-- ====== Personal Projects ====== -->

{% if site.projects_personal.size > 0 %}
  <!-- If exists personal projects, add the tittle -->
  <div class="user-details">
    <h1> {{site.data[page.lang].projects_personal_title}} </h1>
  </div>
{% endif %}

{% for projects_personal in site.projects_personal %}
  <!-- Do this so Professional and Personal projects are intercalated
        Profes. ended on left, personal start on right
        Profes. ended on right, personal start on left -->
  {% assign sum_value = forloop.index0 | plus: remainder_prof %}
  {% assign remainder_pers = sum_value | modulo: 2 %}
  <!-- Alternate from right to left div class -->
  {%- if remainder_pers == 0 -%}
    <div class="user-projects project-right">
  {%- else -%}
    <div class="user-projects project-left">
  {%- endif -%}

    <img alt="{{projects_personal.image_alt}}" src="{{ "{{projects_personal.image}}" | prepend: site.baseurl }}" />
    <div class="contents">
      {% if    page.lang == 'en' %}
        <h3> {{ projects_personal.title_en }} </h3>
        <p> {{ projects_personal.description_en }} </p>
      {% elsif page.lang == 'pt' %}
        <h3> {{ projects_personal.title_pt }} </h3>
        <p> {{ projects_personal.description_pt }} </p>
      {% endif %}
      <div class="contents-info">
        <ul>
          <li> {{site.data[page.lang].projects_made_in}}: {{ projects_personal.made }} </li>
          <li> {{site.data[page.lang].projects_time_frame}}:
            {% if    page.lang == 'en' %}
              {{ projects_personal.time_en }}
            {% elsif page.lang == 'pt' %}
              {{ projects_personal.time_pt }}
            {% endif %} </li>
        </ul>
        <ul>
          <li> {{site.data[page.lang].projects_year}}: {{ projects_personal.year }} </li>
          <li> {{site.data[page.lang].projects_team_size}}: {{ projects_personal.team }} </li>
        </ul>
        <a class="project-link" href="{{ site.url }}/{{page.lang}}/galery/#{{ projects_personal.section }}">{{site.data[page.lang].btn_details}}</a>
      </div>
    </div>
  </div>

{% endfor %}
