<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
<div class="user">
    <div class="tech">
      <h2>Engines</h2>
      <i class="devicon-unity-plain-wordmark colored"></i>
      <i class="devicon-godot-plain-wordmark colored"></i>
      <p>Experienced in game development using Unity and Godot, utilizing C# scripting and GDScript for gameplay mechanics. Adept at implementing game assets, debugging and optimizing.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <!-- <i class="devicon-java-plain-wordmark colored"></i> -->
      <p>Capable in C#, C++, and Python, adept at writing clean, well-commented code and able to implement complex algorithms. Familiar with various other popular programming languages.</p>
    </div>
    <div class="tech">
      <h2>Other</h2>
      <i class="devicon-github-original colored"></i>
      <i class="devicon-blender-original colored"></i>
      <i class="devicon-arduino-plain-wordmark"></i>
      <p>Experienced with GitHub for version control, Blender for 3D modeling and animation, and Arduino for hardware projects. Familiar with a variety of software and tools for project development.</p>
    </div>
</div>
