<div class="topMenu">
    <a href="#home">{{site.data.[page.lang].menu_home}}</a>
    <a href="#about">{{site.data.[page.lang].menu_about}}</a>
    <a href="#projects">{{site.data.[page.lang].menu_projects}}</a>
    <a href="#resume">{{site.data.[page.lang].menu_resume}}</a>
    <a href="#contact">{{site.data.[page.lang].menu_contact}}</a>
</div>

<style>
    .topMenu {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #1a222c;
        color: #fff;
        padding: 5px 0;
        text-align: center;
        z-index: 1000; /* Ensures the header is above other content */
    }
    .topMenu a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
        display: inline-block;
    }
    .topMenu a:hover {
        background-color: {{site.color_btn_hover}};
    }
    .content {
        padding-top: 20px; /* Space for the fixed header */
    }
  </style>
