<div class="topMenu">
    <a href="{{site.url}}/{{site.data[page.lang].lang_tag}}/#home"> {{site.data[page.lang].menu_home}}</a>
    <a href="{{site.url}}/{{site.data[page.lang].lang_tag}}/gallery">{{site.data[page.lang].menu_gallery}}</a>
    <a href="{{site.url}}/{{site.data[page.lang].lang_tag}}/resume">{{site.data[page.lang].menu_resume}}</a>
    <a href="{{site.url}}/{{site.data[page.lang].lang_tag}}/resume#contact">{{site.data[page.lang].menu_contact}}</a>
    <div class="dropdown">
      <button class="dropbtn">{{site.data[page.lang].menu_lang}}</button>
      <div class="dropdown-content">
        <a href="{{ site.baseurl }}{{ page.url | replace_first: page.lang, 'en' }}">
          {{site.data["en"].lang_name}}</a>
        <a href="{{ site.baseurl }}{{ page.url | replace_first: page.lang, 'pt' }}">
          {{site.data["pt"].lang_name}}</a>
      </div>
    </div>
</div>

<style>
    .topMenu {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #1a222c;
        color: #fff;
        padding: 5px 0;
        text-align: center;
        z-index: 1000;
        transition:color .3s ease-out,
        background-color .3s ease-out,
        border-color .3s ease-out;
    }
    .topMenu a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
        display: inline-block;
    }
    .topMenu a:hover {
        background-color: {{site.color_btn_hover}};
        transition:color .3s ease-in,
        background-color .3s ease-in,
        border-color .3s ease-in;
    }
    .content {
        padding-top: 20px; /* Space for the fixed header */
    }

    /* Dropdown Button */
    .dropbtn {
      background-color: #1a222c;
      color: #fff;
      padding: 14px 20px;
      /* font-size: 16px; */
      border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      left: 7%;
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
     display: none;
     position: absolute;
     background-color: {{site.color_btn_hover}};
     min-width: 100%;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: white; color: black }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: {{site.color_btn_hover}};}
  </style>
