<img alt="character jumping in front of museum" src="{{ "/assets/img/meowth.jpg" | prepend: site.baseurl }}" />
<div class="contents">
  <h3> Meowth Exploring Cruz e Sousa </h3>
  <p>A simple game, made for a university Computer Graphics discipline,where a character can walk and jump around the 'Cruz e Sousa' museum, with the objective of passing through the checkpoints on the map within a set time.</p>
  <div class="contents-info">
    <ul>
      <li> Made In: Unity </li>
      <li> Time Frame: 2 Weeks </li>
    </ul>
    <ul>
      <li> Year: 2022 </li>
      <li> Team Size: 2</li>
    </ul>
    <a class="project-link" href="#">{{site.data.[page.lang].btn_details}}</a>
  </div>
</div>
