<img alt="Visual novel with a character talking" src="{{ "/assets/img/takeTrash1.jpg" | prepend: site.baseurl }}" />
<div class="contents">
  <h3> Take out the Trash </h3>
  <p>A short visual novel about a man with a troubled past and a cop stuck in a same-day loop, featuring a falling items minigame. Created during a 48-hour game jam.</p>
  <div class="contents-info">
    <ul>
      <li> Made In: Godot </li>
      <li> Time Frame: 2 days </li>
      <li> Team Size: 4</li>
    </ul>
    <a class="project-link" href="#">{{site.data.[page.lang].btn_details}}</a>
  </div>
</div>
