---
layout: pages
title: Galery
lang: pt
permalink: /pt/galery
---

<div class="center">
  <section id="algo"> </section>
  <h1>Galeria de Projetos</h1>

  {% for projects_personal in site.projects_personal %}
    <div class="galery project-center">
      <section id={{projects_personal.section}}> </section>
      <h3> {{ projects_personal.title_long}} </h3>

      <img alt="{{projects_personal.image_alt}}" src="{{ "{{projects_personal.image}}" | prepend: site.baseurl }}" />
      <!-- <div class="contents"> -->
        <p> {{ projects_personal.description_long }} </p>
      <!-- </div> -->
    </div>

  {% endfor %}


  <!-- ====== Professional Projects ====== -->

  {% if site.projects_professional.size > 0 %}
    <h2>Projetos Professionais</h2>
  {% endif %}

  {% for projects_professional in site.projects_professional %}

    <div class="galery project-center">
      <section id={{projects_professional.section}}> </section>
      <h3> {{ projects_professional.title_long}} </h3>

      <img alt="{{projects_professional.image_alt}}" src="{{ "{{projects_professional.image}}" | prepend: site.baseurl }}" />
      <p> {{ projects_professional.description_long }} </p>
      <a class="project-link" href="{{ site.url }}{{ projects_professional.permalink }}">{{site.data[page.lang].btn_details}}</a>
    </div>

  {% endfor %}


</div>
